<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>MEMORY ACADEMY</title>
</head>
<body>
    
    <nav>
        <main>
            <div class="contain">
                <img src="/img/Blazer.jpg" alt="">

                <div class="title"> 
                    <h1>Blazer 4x4 automático 16V Diesel</h1>
                    <ul>
                        <li><span>Câmbio:</span> Automático</li>
                        <li><span>Quilometragem:</span> 31.800 KM</li>
                        <li><span>Combustivel:</span> Diesel</li>
                    </ul>

                    <div class="years">
                        <h3>2020/2022</h3>
                    </div>

                    <div class="price">
                        <p>Por apenas</p>
                        <span>R$ 100.000,000</span>
                    </div>
                    
                </div>
            </div>
        </main>
   
        <main>
            <div class="contain">
                <img src="/img/Antigo.jpg" alt="">
                <div class="title"> 
                    <h1>Blazer 4x4 automático 16V Diesel</h1>
                    <ul>
                        <li><span>Câmbio:</span> Automático</li>
                        <li><span>Quilometragem:</span> 31.800 KM</li>
                        <li><span>Combustivel:</span> Diesel</li>
                    </ul>

                    <div class="years">
                        <h3>2020/2022</h3>
                    </div>

                    <div class="price">
                        <p>Por apenas</p>
                        <span>R$ 100.000,000</span>
                    </div>
                    
                </div>
            </div>
            
        </main>
    

        <main>
            <div class="contain">
                <img src="/img/Tesla.jpg" alt="">
                <div class="title"> 
                    <h1>Blazer 4x4 automático 16V Diesel</h1>
                    <ul>
                        <li><span>Câmbio:</span> Automático</li>
                        <li><span>Quilometragem:</span> 31.800 KM</li>
                        <li><span>Combustivel:</span> Diesel</li>
                    </ul>

                    <div class="years">
                        <h3>2020/2022</h3>
                    </div>

                    <div class="price">
                        <p>Por apenas</p>
                        <span>R$ 100.000,000</span>
                    </div>
                    
                </div>
            </div>
        </main>
        <main>
            <div class="contain">
                <img src="/img/Stable.jpg" alt="">
                <div class="title"> 
                    <h1>Blazer 4x4 automático 16V Diesel</h1>
                    <ul>
                        <li><span>Câmbio:</span> Automático</li>
                        <li><span>Quilometragem:</span> 31.800 KM</li>
                        <li><span>Combustivel:</span> Diesel</li>
                    </ul>

                    <div class="years">
                        <h3>2020/2022</h3>
                    </div>

                    <div class="price">
                        <p>Por apenas</p>
                        <span>R$ 100.000,000</span>
                    </div>
                    
                </div>
            </div>
        </main>
        <main>
            <div class="contain">
                <img src="/img/Kia.jpg" alt="">
                <div class="title"> 
                    <h1>Blazer 4x4 automático 16V Diesel</h1>
                    <ul>
                        <li><span>Câmbio:</span> Automático</li>
                        <li><span>Quilometragem:</span> 31.800 KM</li>
                        <li><span>Combustivel:</span> Diesel</li>
                    </ul>

                    <div class="years">
                        <h3>2020/2022</h3>
                    </div>

                    <div class="price">
                        <p>Por apenas</p>
                        <span>R$ 100.000,000</span>
                    </div>
                    
                </div>
            </div>
        </main>
        <main>
            <div class="contain">
                <img src="/img/Golf.jpeg" alt="">
                <div class="title"> 
                    <h1>Blazer 4x4 automático 16V Diesel</h1>
                    <ul>
                        <li><span>Câmbio:</span> Automático</li>
                        <li><span>Quilometragem:</span> 31.800 KM</li>
                        <li><span>Combustivel:</span> Diesel</li>
                    </ul>

                    <div class="years">
                        <h3>2020/2022</h3>
                    </div>

                    <div class="price">
                        <p>Por apenas</p>
                        <span>R$ 100.000,000</span>
                    </div>
                    
                </div>
            </div>
        </main>
    </nav>
    
</body>
</html>